{% extends 'layouts/base.html' %}
{% block content %}

{% block stylesheets %}
<style>
    small {
        font-size: 10px;
    }
</style>
{% endblock stylesheets %}
<div class="d-flex flex-column use-font">
    <div class="d-flex justify-content-center ">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">

            <div class="card-body ">
                <h1 class="card-title">SignUp To SSM</h1>
                <hr>
                <form method="post" name="signup_form" onsubmit="return validateForm()">
                    {% csrf_token %}

                    {% for field in form %}

                    <div class="form-group">
                        {{field.label_tag}}
                        {% if forloop.counter0 is 0 %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+91</div>
                            </div>
                            {{ field }}
                        </div>
                        <small class="form-text text-muted d-flex justify-content-end">We'll never share your Phone
                            Number with anyone else.</small>
                        {% else %}
                        {{field}}
                        {% if forloop.counter0 is 1 %}
                        <div class="custom-control custom-checkbox my-1 mr-sm-2 d-flex justify-content-end">
                            <input type="checkbox" class="custom-control-input" id="show_password"
                                onclick="showPassword()">
                            <label class="custom-control-label" for="show_password"><small
                                    class="form-text text-muted d-flex justify-content-end">Show
                                    Password</small></label>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}

                    <input type="submit" class="btn btn-outline-primary" value="SignUp Now" id="submit_btn">

                </form>

                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLongTitle">Please Enter Valid Details</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Password and Confirm Password must be same.
                            </div>
                            <div class="modal-footer">
                                <small>Press any key to close this, or </small>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% block scripts %}
{% load static %}
<script src="{% static 'webapp/scripts/login_script.js' %}"></script>
{% endblock scripts %}

{% endblock %}