{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <title>{% block title %}{% endblock %}</title>
</head>


<body onload="doOnLoad()">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'layouts/css/base_style.css' %}">
  <!-- <script src="{% static 'layouts/scripts/base_script.js' %}"></script> -->


  <div class="base-container">
    <ul class="nav nav-pills justify-content-between use-font">

      <a class="navbar-brand" href=".">
        <img src="{% static 'layouts/images/chibi.png' %}" width="30" height="30" class="d-inline-block align-top"
          alt="">
        SSM
      </a>

      <li class="nav-item">

        <div id="selected-nav-link" style="display: none;">{{selected_nav_link}}</div>

        <ul class="nav nav-tabs justify-content-between">

          <li class="nav-item">
            <a class="nav-link a" href="#" onmouseover="hoveredNavLink(this)"
              onmouseout="notHoveredNavLink(this)">Active</a>
          </li>

          <li class="nav-item">
            <a class="nav-link b" href="#" onmouseover="hoveredNavLink(this)"
              onmouseout="notHoveredNavLink(this)">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link c" href="#" onmouseover="hoveredNavLink(this)"
              onmouseout="notHoveredNavLink(this)">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled d" href="#" tabindex="-1" aria-disabled="true"
              onmouseover="hoveredNavLink(this)" onmouseout="notHoveredNavLink(this)">disabled</a>
          </li>


          <li class="nav-item">
            <a class="nav-link dropdown-toggle e" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false" onmouseover="hoveredNavLink(this)" onmouseout="notHoveredNavLink(this)">
              {{request.session.display_name}}</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'webapp_urls:profile' %}">View Profile</a>
              <a class="dropdown-item" href="{% url 'webapp_urls:account' %}">Account Settings</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'webapp_urls:logout' %}">Logout</a>
            </div>
          </li>

        </ul>

      </li>
    </ul>

    <div class="d-flex content-body  align-items-center justify-content-center ">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  {% block scripts_base_logged_in %}
  <script src="{% static 'layouts/scripts/base_script.js' %}"></script>
  {% endblock %}
</body>

</html>