{% extends 'layouts/base.html' %}

{% block content %}

{% block stylesheets %}
<style>
    .content-body {
        background-color: rgb(255, 146, 146);
    }

    .jumbotron {
        background-color: transparent;
        color: black;
    }

    .btn {
        background-color: whitesmoke;
        border-color: red;
        color: rgb(255, 146, 146);
        font-weight: bold;
    }

    .btn:hover {
        background-color: red;
        border-color: whitesmoke;
        color: whitesmoke;

    }
</style>
{% endblock stylesheets %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ error.error }}</h1>
        <p class="lead">{{ error.error_detail }}</p>
        <hr class="my-4">
        <p>{{ error.additional_info }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'webapp_urls:home' %}" role="button">Back to Home</a>
            {% if error.go_to_login %}
            OR
            <a class="btn btn-primary btn-lg" href="{% url 'webapp_urls:home' %}" role="button">Login</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}