{% extends 'layouts/base.html' %}

{% block content %}

{% block stylesheets %}
<style>
    .content-body {
        background-color: rgb(224, 255, 224);
    }

    .jumbotron {
        background-color: transparent;
        color: black;
    }

    .btn {
        background-color: whitesmoke;
        border-color: green;
        color: green;
        font-weight: bold;
    }

    .btn:hover {
        background-color: green;
        border-color: whitesmoke;
        color: whitesmoke;

    }
</style>
{% endblock stylesheets %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Password reset Successfully :)</h1>
        <p>Thankyou so much for using SSM.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'webapp_urls:home' %}" role="button">Back to Home</a>
        </p>
    </div>
</div>
{% endblock %}