{% extends 'layouts/base.html' %}

{% block content %}

{% block stylesheets %}
<style>
    .content-body {
        background-color: rgb(255, 255, 146);
    }

    .jumbotron {
        background-color: transparent;
        color: black;
    }

    .btn {
        background-color: whitesmoke;
        border-color: rgb(110, 110, 0);
        color: rgb(110, 110, 0);
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgb(110, 110, 0);
        border-color: whitesmoke;
        color: whitesmoke;

    }
</style>
{% endblock stylesheets %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Password reset Unsuccessful :|</h1>
        <p class="lead">The server was unable to reset your password.</p>
        <hr class="my-4">
        <p>Please generate a new link to reset your password.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'webapp_urls:home' %}" role="button">Back to Home</a>
        </p>
    </div>
</div>
{% endblock %}