{% extends 'layouts/base.html' %}


{% block content %}

<div class="d-flex flex-column">
    {% if error is not None %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Invalid Data:</strong> {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="d-flex justify-content-center ">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">

            <div class="card-body ">
                <h1 class="card-title">Reset Password</h1>
                <hr>
                <form method="post" action="{{url}}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}